<div class="main__logo">
	<img src="../../assets/third/img/logo.png" alt="">
</div>
<div class="main__image">
	<img src="../../assets/third/img/image.png" alt="">
</div>
<div class="main__title">Thanks for Registering!</div>
<div class="main__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua!</div>
<div class="main__buttons">
	<button class="main__start">Start free trial</button>
	<button class="main__pro">Become a Pro</button>
</div>