<div class="main__column">
	<div class="side__body">
		<div class="main__title">Everything you need</div>
		<ul class="mail__list">
			<li class="main__item">Unlimited Number of Campaigns</li>
			<li class="main__item">Unlimited Number of Domains</li>
			<li class="main__item">All Products Included</li>
			<li class="main__item">All Features Included</li>
			<li class="main__item">All this and much more….</li>
		</ul>
		<div class="main__subtitle">Trusted by many industry leaders</div>
		<div class="main__row">
			<div class="main__techlogo"></div>
			<div class="main__techlogo"></div>
			<div class="main__techlogo"></div>
			<div class="main__techlogo"></div>
			<div class="main__techlogo"></div>
		</div>
	</div>
</div>